{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="wrapper-wide">
  
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="about-us.html">درباره ما</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          {% for a_s in about_us %}
          <h1 class="title">{{a_s.title}}</h1>
          <div class="row">
            <div class="col-sm-12">
                <p>{{a_s.text}}</p>
              </div>
              {% endfor %}
              <h3 class="text-center">متن دلخواه خود را در اینجا قرار دهید.</h3>
              <div class="row">
                <div class="col-sm-4">
              <div class="well">
                <h4>ارسال رایگان</h4>
                <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <a href="" class="btn btn-primary">ادامه مطلب</a> </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>کارت هدیه</h4>
                <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <a href="" class="btn btn-primary">ادامه مطلب</a> </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>امتیازات خرید</h4>
                <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <a href="" class="btn btn-primary">ادامه مطلب</a> </div>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
  </div>
  <!--Footer Start-->
  <footer id="footer">
    <div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h5>اطلاعات تماس</h5>
            <ul>
              <li class="address"><i class="fa fa-map-marker"></i>میدان تایمز، شماره 77، نیویورک</li>
              <li class="mobile"><i class="fa fa-phone"></i>+21 9898777656</li>
              <li class="email"><i class="fa fa-envelope"></i>برقراری ارتباط از طریق <a href="contact-us.html">تماس با ما</a>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>اطلاعات</h5>
            <ul>
              <li><a href="about-us.html">درباره ما</a></li>
              <li><a href="about-us.html">اطلاعات ارسال</a></li>
              <li><a href="about-us.html">حریم خصوصی</a></li>
              <li><a href="about-us.html">شرایط و قوانین</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>خدمات مشتریان</h5>
            <ul>
              <li><a href="contact-us.html">تماس با ما</a></li>
              <li><a href="">بازگشت</a></li>
              <li><a href="sitemap.html">نقشه سایت</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>امکانات جانبی</h5>
            <ul>
              <li><a href="">برند ها</a></li>
              <li><a href="">کارت هدیه</a></li>
              <li><a href="">بازاریابی</a></li>
              <li><a href="">ویژه ها</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>حساب من</h5>
            <ul>
              <li><a href="">حساب کاربری</a></li>
              <li><a href="">تاریخچه سفارشات</a></li>
              <li><a href="">لیست علاقه مندی</a></li>
              <li><a href="">خبرنامه</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
  </footer>
  <!--Footer End-->
  <!-- Facebook Side Block Start -->
  <div id="facebook" class="fb-left sort-order-1">
    <div class="facebook_icon"><i class="fa fa-facebook"></i></div>
    <div class="fb-page" data-href="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite=""><a href="">سايت شما</a></blockquote>
      </div>
    </div>
    <div id="fb-root"></div>



{% endblock content %}





